@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #d3d3d3;
  --secondary: #ec5242;
  --text-color: #272a31;
  --background: rgb(230 230 230 / 47.9%);
  --weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'COCOGOOSE', sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-family: inherit;
  z-index: 1;
}

header .media {
  display: none;
}

.nav-bar {
  height: 70px;
  background-color: var(--primary);
}

.Hamburger .show-menu-btn {
  position: fixed;
  top: 24px;
  left: 24px;
  width: 32px;
  z-index: 2;
}

.Hamburger .close-menu-btn {
  display: none;
  position: fixed;
  top: 36px;
  right: 36px;
  width: 24px;
  z-index: 3;
}

nav .logo {
  display: none;
  width: 120px;
  height: auto;
  cursor: pointer;
}

nav .logo img {
  width: 100%;
  height: auto;
}

nav .nav-menu {
  visibility: hidden;
  transform: translateY(-100%);
}

.main-program li {
  width: 97%;
  min-height: 110px;
  justify-self: center;
  justify-content: space-around;
  padding: 6px;
  background-color: #acacac1f;
  color: #fff;
}

.teams li {
  display: none;
  justify-self: center;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 750px;
  min-height: 200px;
  width: 100%;
  font-family: 'COCOGOOSE-LETTERPRESS', Arial, sans-serif;
}

.partners-list li {
  margin: 1rem;
  width: 150px;
}

.teams li:nth-child(1),
.teams li:nth-child(2) {
  display: flex;
}

nav .nav-menu li:last-child {
  padding: 4px 14px;
  color: var(--secondary);
  border: 5px solid var(--secondary);
}

.program-section a {
  display: none;
}

nav .nav-menu li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 15px;
  transition: all 0.5s ease-in;
}

nav .nav-menu li a:hover {
  color: var(--secondary);
  cursor: pointer;
}

nav .nav-menu.open,
nav .nav-menu.hide {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  transform: translateY(0%);
  width: 100%;
  height: 100%;
  padding-left: 28px;
  padding-top: 62px;
  background-color: var(--primary);
}

nav .nav-menu.hide {
  visibility: hidden;
  transform: translateY(-100%);
  height: 10px;
}

nav .nav-menu.open li,
nav .nav-menu.hide li {
  margin: 12px;
}

nav .nav-menu.open li a,
nav .nav-menu.hide li a {
  font-size: 31px;
  line-height: 44px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

main {
  width: 100%;
  font-family: inherit;
}

ul {
  list-style: none;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding: 32px;
}

.home-section {
  padding: 80px 24px 0;
  background-color: var(--primary);
  background-image: linear-gradient(rgb(238 238 238 / 87%), rgb(235 235 235)), url("../images/header.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-home-section {
  color: var(--secondary);
}

.title-home-section h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  line-height: 52px;
  padding: 12px 0;
}

.title-home-section h1 {
  font-size: 35px;
  font-weight: 500;
  font-family: 'COCOGOOSE', sans-serif;
  line-height: 60px;
  color: var(--seconderyColor);
  margin: 10px 0;
  background-image: url("../images/font.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article h4 {
  border: 3px solid rgb(255 255 255);
  background-color: var(--background);
  padding: 20px;
  margin: 20px 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 30px;
}

.program h3 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
}

.program p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  padding: 6px 0 60px;
}

.program-section {
  width: 100%;
  background-repeat: repeat;
  background-color: rgb(39 42 50 / 99.3%);
  background-image: url("../images/main-program-bg.png");
  font-family: 'Lato', sans-serif;
}

.program-section h2 {
  color: var(--primary);
  text-align: center;
}

.program-section h2::after {
  content: " ";
  display: block;
  width: 48px;
  height: 3px;
  margin: 14px auto 0;
  background-color: var(--secondary);
}

.program-section .main-program {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 14px;
}

.main-program li i {
  width: 45px;
}

.main-program li h3 {
  width: 30%;
  font-weight: var(--weight);
  color: var(--secondary);
  padding: 6px;
  flex-wrap: wrap;
}

.main-program li p {
  width: 50%;
  color: var(--primary);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}

.btn-program {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.program-section button {
  display: inline-block;
  border: none;
  color: var(--primary);
  font-weight: 500;
  font-size: 24px;
  padding: 22px 32px;
  background-color: var(--secondary);
}

.featured-section {
  width: 100%;
  background-color: var(--background);
}

.featured-section h2 {
  color: var(--text-color);
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 62px;
}

.featured-section h2::after {
  content: " ";
  display: block;
  width: 48px;
  height: 3px;
  margin: 14px auto 0;
  background-color: var(--secondary);
}

.featured-section .teams {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

li .card-img {
  width: 140px;
  margin: 0 0.5rem;
  flex-shrink: 0;
}

li .card-img img {
  width: 100%;
  height: auto;
}

li .card-body {
  margin: 1rem 0.5rem;
  max-width: 500px;
}

li .card-body h3 {
  font-weight: bold;
  font-size: 20px;
}

li .card-body h4 {
  color: var(--secondary);
  font-size: 16px;
  padding: 8px 0;
}

li .card-body h4::after {
  content: " ";
  display: block;
  max-width: 28px;
  height: 2px;
  margin: 8px 0 0;
  background-color: var(--primary);
}

li .card-body p {
  font-size: 14px;
  line-height: 22px;
}

.featured-section .see-more {
  width: 100%;
  text-align: center;
  margin: 20px auto 50px;
}

.see-more button {
  padding: 24px 160px;
  font-size: 24px;
  color: var(--text-color);
  background-color: var(--background);
  border: 1px solid var(--primary);
}

.see-more button i {
  color: var(--secondary);
}

.see-more button:hover,
.see-more button:hover i {
  color: var(--primary);
  background-color: var(--secondary);
}

.partners-section {
  width: 100%;
  background-color: var(--text-color);
  opacity: 0.9;
  padding: 3rem 0;
  z-index: 0;
}

.partners-section h2 {
  color: var(--primary);
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.partners-section h2::after {
  content: " ";
  display: block;
  width: 48px;
  height: 2px;
  margin: 14px auto 0;
  background-color: var(--secondary);
}

.partners-list {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.partners-list li img {
  width: 100%;
  color: var(--primary);
  cursor: pointer;
}

footer {
  width: 100%;
  justify-content: space-around;
  text-align: center;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: #fff;
}

footer .logo {
  height: 8rem;
  width: 7rem;
  margin: 0 2rem;
  flex-shrink: 0;
}

footer .logo img {
  width: 100%;
  height: auto;
  color: var(--text-color);
  cursor: pointer;
}

footer .created {
  width: 40%;
  margin: 1rem;
}

footer .created p {
  color: var(--text-color);
  text-align: left;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .home-section {
    padding-left: 10%;
    padding-right: 10%;
  }

  .featured-section .teams {
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}

@media screen and (min-width: 769px) {
  header .media {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--text-color);
  }

  header .media ul {
    justify-content: flex-end;
    margin-right: 9%;
  }

  .main-program li {
    width: 200px;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 8px 6px;
  }

  .media ul li {
    padding: 10px 14px;
  }

  .program-section a {
    display: block;
    color: var(--primary);
    font-size: 18px;
    margin: 20px auto;
  }

  .media ul li a {
    color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.5s ease-in-out;
  }

  .media ul li a:hover {
    color: var(--secondary);
  }

  .Hamburger .show-menu-btn {
    display: none;
  }

  header .Hamburger {
    position: fixed;
    top: 22px;
    left: 0;
    right: 0;
    justify-content: space-around;
    z-index: 2;
  }

  nav .logo {
    display: block;
    width: 4.5rem;
    height: 100px;
    margin-top: 20px;
  }

  nav .nav-menu {
    visibility: visible;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: static;
    transition: all 1s ease-in-out;
    transform: translateY(0%);
  }

  nav .nav-menu li {
    font-size: 20px;
    font-weight: 700;
    margin: 12px;
    font-family: 'Lato', sans-serif;
  }

  nav .nav-menu li.active a {
    color: var(--secondary);
  }

  .nav-bar {
    background-color: #fff;
    height: 115px;
  }

  .home-section {
    padding-top: calc(80px + 92px);
  }

  .title-home-section h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
  }

  .title-home-section h1 {
    font-size: 44px;
    line-height: 78px;
  }

  article h4 {
    width: 90%;
  }

  .program-section h2,
  .featured-section h2 {
    padding: 62px;
  }

  .program-section .main-program {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    text-align: center;
    grid-auto-rows: 250px;
  }

  .program-section button {
    display: none;
  }

  .main-program li:hover {
    border: 3px solid var(--primary);
    cursor: pointer;
  }

  .main-program li i {
    width: 50px;
  }

  .main-program li h3 {
    width: 100%;
    padding: 10px 0;
    flex-wrap: nowrap;
  }

  .main-program li p {
    width: 100%;
  }

  .featured-section .teams {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  footer .created p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }
}

@media screen and (min-width: 992px) {
  .program-section .main-program {
    width: 95%;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 7px;
    text-align: center;
    grid-auto-rows: 250px;
  }

  .program-section button {
    display: none;
  }

  .program-section a {
    display: block;
    color: var(--primary);
    font-size: 18px;
    margin: 20px auto;
  }
}

@media screen and (min-width: 1100px) {
  .program-section .main-program {
    width: 1040px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 7px;
    text-align: center;
    grid-auto-rows: 250px;
  }

  .main-program li {
    width: 200px;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 8px 6px;
  }

  .main-program li:hover {
    border: 3px solid var(--primary);
    cursor: pointer;
  }

  .main-program li i {
    width: 50px;
  }

  .main-program li h3 {
    width: 100%;
    padding: 10px 0;
    flex-wrap: nowrap;
  }

  .main-program li p {
    width: 100%;
  }

  .program-section button {
    display: none;
  }

  .program-section a {
    display: block;
    color: var(--primary);
    font-size: 18px;
    margin: 20px auto;
  }

  .featured-section .teams {
    max-width: 1040px;
    grid-template-columns: repeat(2, 1fr);
  }
}
